{% extends 'base.html.twig' %}

{% block title %}Ingresar - FORMA{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ vite_entry_link_tags('login') }}
{% endblock %}

{% block body %}
  <div id="app"></div>
{% endblock %}

{% block javascripts %}
  {{ vite_entry_script_tags('login') }}
{% endblock %}
