<form method="post" action="{{ path('app_inicio_delete', {'id': inicio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inicio.id) }}">
    <button class="btn">Delete</button>
</form>
