{% extends 'base.html.twig' %}

{% block title %}New Inicio{% endblock %}

{% block body %}
    <h1>Create new Inicio</h1>

    {{ include('inicio/_form.html.twig') }}

    <a href="{{ path('app_inicio_index') }}">back to list</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% include '_bases/_editor.html.twig' %}

{% endblock %}
