{% extends 'base.html.twig' %}

{% block title %}Admin - FORMA{% endblock %}

{% block body %}
  <div id="app"></div>
{% endblock %}

{% block javascripts %}
  {# Carga del editor local para que esté disponible en las vistas Vue #}
  {% include '_bases/_editor.html.twig' %}
  {{ vite_entry_script_tags('admin') }}
{% endblock %}
