{#<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">#}
{#    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">#}
{#        <div class="container-fluid">#}
{#            <a class="navbar-brand" href="https://alameda.ar">#}
{#                <img src="{{ asset('images/logo.png') }}" class="w-25" alt="Forma Alameda">#}
{#            </a>#}
{#            <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"#}
{#                    data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"#}
{#                    aria-label="Toggle navigation">#}
{#                <svg class="navbar-icon">#}
{#                    <use xlink:href="#navbar-icon"></use>#}
{#                </svg>#}
{#            </button>#}
{#            #}{#            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel"> #}
{#            #}{#                <div class="offcanvas-header px-4 pb-0"> #}
{#            #}{#                    <a class="navbar-brand" href="https://alameda.ar"> #}
{#            #}{#                        <img src="{{ asset('images/logo.png') }}" class="img-fluid col-sm-1 " alt="Forma Alameda"> #}
{#            #}{#                    </a> #}
{#            #}{#                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" #}
{#            #}{#                            aria-label="Close" data-bs-target="#bdNavbar"></button> #}
{#            #}{#                </div> #}
{#            #}{#                <div class="offcanvas-body"> #}

{#            #}{#                </div> #}
{#            #}{#            </div> #}
{#        </div>#}
{#    </nav>#}
{#</header>#}