{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-3">
        <div class="container px-3">
            <div class="row gx-5">
                <div class="col-lg-12">
                    <article>
                        <section class="py-5">
                            <div class="container px-3 my-3">
                                <div class="row gx-5">
                                    <div class="col-lg-12">
                                        <header class="mb-4 text-center">
                                            <div class="mb-4">
                                                <img src="{{asset('images/capa_perfil_cauteloso.jpg')}}" class="img-fluid rounded-3" alt="Perfil Cauteloso" width="800" height="400">
                                            </div>
                                            <div>
                                                <h1 class="fw-bolder mb-1">Perfil DISC Cauteloso - El Analista!</h1>
                                                <div class="text-muted fst-italic mb-2 text-center">Comprendiendo el Perfil Cauteloso</div>
                                            </div>
                                        </header>

                                        <section class="mb-5">
                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                 <strong>Qu茅 es:</strong><br>
                                            <p class="fs-5 mb-4 text-justify-content-center">Si adoras el an谩lisis, la organizaci贸n y la precisi贸n, podr铆as ser un "C". El perfil Cauteloso, o "C" en DISC, es como ese detective inteligente de las pel铆culas que analiza todos los detalles.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">Este perfil es reconocido por su atenci贸n a los detalles, organizaci贸n, cuidado y enfoque met贸dico. Eres como un analista meticuloso que valora la precisi贸n.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">Ya sea en el an谩lisis minucioso de datos o en garantizar la calidad y precisi贸n del trabajo, tus habilidades son muy valiosas para el equipo. Tu enfoque cauteloso puede ser el diferencial en proyectos complejos.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">Tu pasi贸n por sistemas, procesos y reglas te convierte en alguien que valora la consistencia y el orden en el entorno de trabajo.</p>

                                        </section>

                                        <section class="fs-5 mb-4 text-justify-content-center">
                                             <strong>Caracter铆sticas principales:</strong><br>
                                            - <strong>Anal铆tico:</strong> Le encantan los detalles y es meticuloso.<br>
                                            - <strong>Organizado:</strong> Todo necesita estar en orden para ti.<br>
                                            - <strong>Cuidadoso:</strong> Reflexivo y preciso en tus acciones.<br>
                                            - <strong>Met贸dico:</strong> Valora sistemas, procesos y reglas.
                                        </section>

                                        <section class="fs-5 mb-4 text-jus">
                                             <strong>En el trabajo:</strong><br>
                                            Como practicante o en tu primer trabajo, tu atenci贸n a los detalles y enfoque met贸dico son muy valiosos. Ser谩s el que garantice la calidad y precisi贸n del trabajo.
                                        </section>

                                        <section class="fs-5 mb-4 text-jus">
                                             <strong>Consejos de 茅xito:</strong><br>
                                            1. <strong>Valora tu perfeccionismo:</strong> Es una cualidad distintiva, pero ten cuidado de que no se convierta en un obst谩culo.<br>
                                            2. <strong>S茅 flexible:</strong> No todo tiene que ser perfecto. Aprende a adaptarte cuando sea necesario.<br>
                                            3. <strong>Comparte tus an谩lisis:</strong> Tus perspectivas pueden ser valiosas para el equipo. No tengas miedo de compartirlas.
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Tabela de Pontos Fortes e Fracos -->
                        <section>
                            <table class="table table-info table-bordered text-center table-striped table-borderles" style="border-radius: 10px;">
                                <thead class = "table-dark">
                                <tr>
                                    <th>Puntos Fuertes</th>
                                    <th>Puntos D茅biles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Atenci贸n a los detalles</td>
                                    <td>Puede ser perfeccionista</td>
                                </tr>
                                <tr>
                                    <td>Organizaci贸n y precisi贸n</td>
                                    <td>Resistencia al cambio</td>
                                </tr>
                                <tr>
                                    <td>Prudencia y pensamiento cr铆tico</td>
                                    <td>An谩lisis excesivo de los detalles</td>
                                </tr>
                                <tr>
                                    <td>Met贸dico y sistem谩tico</td>
                                    <td>Esfuerzo excesivo para la perfecci贸n</td>
                                </tr>
                                <tr>
                                    <td>nfasis en la precisi贸n y calidad</td>
                                    <td>Dificultad para delegar tareas</td>
                                </tr>
                                <tr>
                                    <td>Enfoque anal铆tico y reflexivo</td>
                                    <td>Reluctancia a aceptar cambios r谩pidos</td>
                                </tr>
                                </tbody>
                            </table>
                        </section>



                    </article>



                    <div class="text-center mt-3">
                        <a href="{{ path('app_perfil') }}" class="btn btn-primary mt-5 text-center">Volver</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}

