{% extends 'base.html.twig' %}

{% block body %}
<section class="py-3">
    <div class="">
        <div class="row gx-5">
            <div class="col-lg-12">
                <!-- Conteúdo do Perfil-->
                <article>

                    <!-- Conteúdo do Perfil-->
                    <section class="py-3">
                        <div class="container px-3 my-3">
                            <div class="row gx-5">
                                <div class="col-lg-12">
                                    <!-- Conteúdo do Perfil-->
                                    <article>
                                        <!-- Encabezado del perfil -->
                                        <header class="mb-4 text-center">
                                            <!-- Foto de perfil -->
                                            <div class="mb-4">
                                                <img src="{{ asset('images/capa_perfil_dominante.jpg') }}"
                                                     class="img-fluid rounded-3" alt="Perfil dominante" width="800"
                                                     height="400">
                                            </div>
                                            <!-- Título del perfil -->
                                            <div><h1 class="fw-bolder mb-1:">Perfil DISC Dominante - ¡El Líder
                                                    Nato!</h1>
                                                <!-- Subtítulo del perfil -->
                                                <div class="text-muted fst-italic mb-2 text-center">Entendiendo el
                                                    perfil dominante
                                                </div>
                                            </div>
                                        </header>

                                        <!-- Descripción del perfil dominante DISC -->
                                        <section class="mb-5">
                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                💼 <strong>Qué es:</strong><br>
                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                Imagínate como el protagonista de una película de acción llena de
                                                adrenalina. Este personaje es intrépido, siempre al frente, tomando
                                                decisiones rápidas y liderando con confianza. Este es el espíritu del
                                                perfil dominante, conocido como "D" en DISC.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                Si te ves en esta descripción, podrías ser un verdadero "D". Las
                                                personas con este perfil están naturalmente inclinadas a asumir el
                                                control. Son como aquellos líderes naturales que, en situaciones
                                                desafiantes, se destacan, mostrando el camino y tomando las riendas.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                Pero no se trata solo de ser asertivo y decidido. El perfil "D" también
                                                está marcado por una gran ambición y un fuerte deseo de lograr
                                                resultados. Tienes metas altas y siempre estás buscando alcanzarlas,
                                                cueste lo que cueste. Para ti, cada desafío es una oportunidad para
                                                mostrar tu capacidad y tu talento para liderar.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                En un equipo, eres el que aporta dirección y claridad. Tu habilidad para
                                                ver el panorama general y tomar decisiones firmes es vital en momentos
                                                de incertidumbre. No tienes miedo de enfrentar obstáculos o de enfrentar
                                                situaciones difíciles. De hecho, te energizas con ello.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                Tu estilo de liderazgo es directo y objetivo. Eres franco en tus
                                                comunicaciones, prefieres ir al grano. Esto puede ser extremadamente
                                                eficaz en situaciones donde se necesitan acciones rápidas y decisiones
                                                firmes.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                Sin embargo, es importante recordar que cada estilo tiene sus desafíos.
                                                Tu naturaleza directa e impaciente a veces puede ser percibida como
                                                agresividad o insensibilidad. Es importante equilibrar tu enfoque
                                                asertivo con empatía y consideración por las perspectivas de los
                                                demás.</p>

                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                En resumen, si eres un perfil "D", eres una fuerza a tener en cuenta. Tu
                                                pasión, tu energía y tu capacidad para liderar y motivar son cualidades
                                                únicas que pueden llevarte lejos, especialmente al inicio de tu carrera.
                                                Úsalas sabiamente y serás un líder excepcional!</p>
                                            </p>

                                            <br>
                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                🚀 <strong>Características principales:</strong><br>
                                                - <strong>Decisivo:</strong> No temes tomar decisiones. De hecho, ¡te
                                                encanta! ¿Asumir riesgos? ¿Establecer metas audaces? ¡Eso es
                                                contigo!<br>
                                                - <strong>Independiente:</strong> Eres como un superhéroe solitario. Te
                                                gusta tener autonomía y prefieres trabajar solo o liderar el grupo.<br>
                                                - <strong>Práctico:</strong> Eres de los que prefieren la acción en vez
                                                de mucho hablar. "Menos charla, más acción" podría ser tu lema.<br>
                                                - <strong>Competitivo:</strong> Adoras un desafío y tienes un inmenso
                                                deseo de ganar. Ves cada proyecto como una nueva misión a conquistar.
                                            </p>
                                            <p class="fs-5 mb-4 text-justify-content-center">
                                                🔥 <strong>En el trabajo:</strong><br>
                                                Como becario o en tu primer empleo, usar estas características puede
                                                hacerte brillar. Serás el que no teme asumir proyectos difíciles o dar
                                                ideas innovadoras. ¡Tu energía y pasión pueden inspirar a todo el
                                                equipo!
                                            </p>
                                            <p class="fs-5 mb-4 text-jus">
                                                💡 <strong>Consejos de éxito:</strong><br>
                                                1. <strong>La confianza lo es todo:</strong> ¡Confía en tus habilidades!
                                                Tu confianza puede abrir muchas puertas.<br>
                                                2. <strong>Cuidado con la prisa:</strong> Recuerda, no todo es una
                                                carrera. A veces, es importante desacelerar y escuchar a los demás.<br>
                                                3. <strong>Trabajo en equipo:</strong> Aunque prefieras liderar, es
                                                esencial aprender a trabajar en equipo. ¡Tus colegas tienen mucho que
                                                ofrecer!
                                            </p>
                                        </section>

                                        <!-- Tabla de puntos fuertes y débiles -->
                                        <section>

                                            <table class="table table-danger table-bordered text-center table-striped table-borderles"
                                                   style="border-radius: 10px;">
                                                <thead class="table-dark">
                                                <tr>
                                                    <th>Puntos Fuertes</th>
                                                    <th>Puntos Débiles</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Asertividad y liderazgo</td>
                                                    <td>Puede ser percibido como autoritario</td>
                                                </tr>
                                                <tr>
                                                    <td>Capacidad de tomar decisiones rápidamente</td>
                                                    <td>Tendencia a ignorar opiniones ajenas</td>
                                                </tr>
                                                <tr>
                                                    <td>Resolución efectiva de problemas</td>
                                                    <td>Impaciencia con detalles o retrasos</td>
                                                </tr>
                                                <tr>
                                                    <td>Independencia y autoconfianza</td>
                                                    <td>Dificultades para mostrar empatía</td>
                                                </tr>
                                                <tr>
                                                    <td>Enfoque en resultados y eficiencia</td>
                                                    <td>Riesgo de conflictos en el equipo</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </section>
                                    </article>


                                    <div class="text-center mt-3">
                                        <a href="{{ path('app_perfil') }}" class="btn btn-primary mt-5 text-center">Volver</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>


                    {% endblock %}

                    {% block title %}

                    {% endblock %}

